.background {
  background: url('./img/Logo.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;
  
}


  
.container{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 250px;
}
  

.home_span{
  display: flex;
  text-decoration: none;
  color: black;
  font-family: 'Junge';
  font-style: normal;
  
  font-size: 108px;
  
  margin-top: 15px;
}

a:link, a:visited, a:active {
  text-decoration:none;
} 


.intro_span{
  font-family: 'Junge';
  font-style: normal;
  font-size: 30px;
  
  text-align: center;
  color: black;
  
}

.homeBtn{
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  font-family: 'Junge';
  font-style: normal;
  align-items: center;
  font-size: 35px;
  margin-top: 5%;
  border: 1px rgb(14, 14, 14) solid;
  padding: 10px 10px 10px;
 
}

.homeBtn:hover{
  color: rgb(0, 0, 0);
  background-color: transparent;
  border-radius: 20px;
  border: 1px rgb(14, 14, 14) solid;
  outline: none;
  
}

@media (max-width: 700px){
  .background {
    background: url('./img/Logo_phone.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content:center;
    padding-left: 10px;

  }

  .container{
    display: flex;
    justify-content: center;
    margin-bottom: 300px;
    flex-wrap: wrap;
    
  }

  .home_span{
    font-size: 90px;
  }

  .intro_span{
    font-size: 30px;
  }
  
  .homeBtn:hover{
    color: rgb(0, 0, 0);
    background-color: white;
    border-radius: 20px;
    outline: none;

  }
}